@model User
<p>@Model.Title has been registered.</p>
<p>Movie ID: @Model.MovieID</p>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Year: @Model.Year</p>
<p>Actor: @Model.Actor</p>
<p>Director: @Model.Director</p>